.page-about-our-team {
  .page-header {
    &:before {
      content: "";
      display: block;
      background: url("../images/member.svg") no-repeat;
      width: 64px;
      height: 64px;
      float: left;
    }
  }
  h2.pane-title {
    text-transform: uppercase;
    text-align: center;
  }
  .views-row {
    margin-bottom:2em;
    .views-field-picture {
      img {
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }
    }
  }
}