.page-about-our-team {
  //.page-header {
  //  &:before {
  //    content: "";
  //    display: block;
  //    background: url('../images/member.svg') no-repeat;
  //    width: 64px;
  //    height: 64px;
  //    float: left;
  //  }
  //}
  h2.pane-title {
    text-align: center;
    text-transform: uppercase;
  }
  .view-header {
    @media (min-width:768px) {
      width: 70%;
      margin: 0 auto 3em;
    }
  }
  .views-row {
    margin-bottom:2em;
    text-align: center;
    .views-field-picture {
      img {
        margin: 1em auto;
      }
    }
    .views-field-name {
      a {
        color: #a99280;
      }
    }
    .views-field-field-address-organisation-name {
      font-weight: bold;
    }
  }
  .views-row.staff {
    .views-field-picture {
      img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
}