.front {
  #wheel {
    height: 450px;
    overflow: hidden;
  }
  .square {
    width: 1200px;
    height: 450px;
    //background-color: #ff0000;
    transition: all 0.75s 0.25s;
  }
  .toggle-down {
    transform: rotate(0deg);
  }
  .toggle-up {
    transform: rotate(180deg);
  }
  .view-content {
    .views-row-2 {
      transform: rotate(180deg);
    }
  }
}
