.page-blog {
  .page-header {
    &:before {
      content: "";
      display: block;
      background: url("../images/blog_icon.svg") no-repeat;
      width: 64px;
      height: 64px;
      float: left;
    }
  }
  .view-content {
    .views-field {
      margin: 1em 0;
    }
    .blog-img {
      display: table-cell;
      @media (min-width: 768px) {
        padding-right: 2em;
        vertical-align: top;
      }
      img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        max-width:none;
      }
    }
    .blog-content {
      display: table-cell;
    }
    .views-field-title {
      color: $brand-warning;
      font-size: large;
      text-transform: uppercase;
    }
    .blog-block {
      margin:1.5em 0;
      display: table;
    }
  }
}
