.page-contact {
  .page-header {
    &:before {
      content: "";
      display: block;
      background: url("../images/envelope.svg") no-repeat;
      width: 64px;
      height: 64px;
      float: left;
      margin: 0 6px 0 0;
    }
  }
  .block {
    h2 {
      margin-bottom: 3em;
      border-bottom: 1px solid;
      margin-bottom: 1em;
      padding-bottom: 1.5em;
      text-transform: uppercase;
    }
    .contact {
      font-size: 18px;
      div {
        margin-bottom: 2em;
      }
      #contact-street {
        &:before {
          content: "";
          display: block;
          background: url("../images/location.svg") no-repeat;
          width: 24px;
          height: 24px;
          float: left;
          margin: 0 1.5em 0 0;
        }
      }
      #contact-tel, #contact-fax {
        &:before {
          content: "";
          display: block;
          background: url("../images/phone.svg") no-repeat;
          width: 24px;
          height: 24px;
          float: left;
          margin: 0 1.5em 0 0;
        }
      }


    }
    .contact-socials {
      svg {
        height: 36px;
        width: auto;
        margin:2em 1em 0 0;
      }
    }
  }
}