#gilroy-head-wrap {
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #d9d1c3 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #d9d1c3)); /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #d9d1c3 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #d9d1c3 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #d9d1c3 100%); /* ie10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #d9d1c3 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d1c3',GradientType=1 ); /* ie6-9 */
}
#navbar {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.navbar.container, .navbar.container-fluid {
  margin-top: 0;
  padding: 1.5em 0;
}
.navbar-default {
  border: 0;
  background-color: transparent;
}
.logo img {
  height: 125px;
  width: auto;
}
.gsearch {
  .btn {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
  }
  .form-control {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
}
.gmenu-primary, .gmenu-secondary {
  text-transform: uppercase;
}

footer {
  background: $brand-primary;
  color: #fff;
    h1, h2, h3, h4, h5, a {
      color: #fff;
    }
    .foot_logo {
      color: #fff;
      img {
        max-width: 175px;
      }
    }
    #fumenu li {
      display: inline-block;
    }
    .contact-container {
      position: relative;
      .foot-contact {
        position: absolute;
        bottom: 0;
        text-align: right;
        right: 0;
        padding-right: 2em;
      }

      .foot-logo-container {
        padding-left: 2em;
        border-left: 1px solid #fff;
      }
    }
}

.footer-bottom {
  padding:1em;
}
.copyright {
  text-align: center;
}

.utility-menu {
  text-align: center;
  li {
    display: inline;
    list-style: none;
  }
}