$circlesize: 100px;

.front {
  #gilroy-head-wrap {
    height: 550px;
  }
  .utilities {
    margin:auto;
    text-align: center;
    .utility-item {
      background: $brand-warning;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      padding:1em;
      color: #fff;
      margin: 1em;
      width: 150px;
      height: 150px;
      a {
        color: #fff;
      }
      img {
        height: 42px;
        width: 100%;
        margin: 1em auto;
      }
    }
  }
  #fp-business {
    margin: 0 auto;
    .block-container {
      text-align: center;
      margin-top: 5em;
    }
    img {
      height: 50px;
    }
  }
  #fp-mid-nav {
    margin: 0 auto;
  }
  #fp-events-video {
    background: $brand-primary;
    color: #fff;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20%;
    //border-radius: 50% / 100%;
    border-top-left-radius: 100%35px;
    border-top-right-radius: 100%35px;
    a {
      color: #fff;
      &hover {
        color: #fff;
      }
    }
    .upcoming-events-block-left, .upcoming-events-block-right {
      display: inline-block;
    }
    .upcoming-events-block-left {
      background: #fff;
      color: $brand-primary;
      -webkit-border-radius:100%;
      -moz-border-radius:100%;
      border-radius:100%;
      text-transform: uppercase;
    }
    h3 {
      color: #fff;
    }
  }
  #fp-benefits-slider {
    //height:635px;
  }
  #benefits-slider {
    height: 400px;
    .slide-image {
      position: fixed;
    }
  }
  #fp-ads-slider {
    height: 700px;
  }
  .block-icons img {
    height: 42px;
    width: 100%;
    margin: 1em auto;
    display: inline;
  }
  .featured-videos-video {
    .player {
      width: 100%;
      height:auto;
    }
  }
  .benefits-info {
    width: 325px;
    height: 325px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #fff;
    opacity: 0.75;
    margin: 4em auto;
    padding: 4em;
    text-align: center;
    h3 {
      text-transform: uppercase;
      color: $brand-primary;
    }
  }
}

