.front {
  #gilroy-head-wrap {
    height: 550px;
  }
  .utilities {
    margin:auto;
    text-align: center;
    .utility-item {
      background: $brand-warning;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      padding:1em;
      color: #fff;
      margin: 1em;
      width: 150px;
      height: 150px;
      a {
        color: #fff;
      }
      img {
        height: 50px;
      }
    }
  }
}
