.front {
  #gilroy-head-wrap {
    height: 550px;
  }
  .utilities {
    margin:auto;
    text-align: center;
    .utility-item {
      background: $brand-warning;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      padding:1em;
      color: #fff;
      margin: 1em;
      width: 150px;
      height: 150px;
      a {
        color: #fff;
      }
      img {
        height: 42px;
        width: 100%;
        margin: 1em auto;
      }
    }
  }
  #fp-business {
    margin: 0 auto;
    .block-container {
      text-align: center;
      margin-top: 5em;
    }
    img {
      height: 72px;
    }
  }
  #fp-mid-nav {
    margin: 0 auto;
  }
  #fp-events-video {
    background: $brand-primary;
    color: #fff;
    position: relative;
    width: 100%;
    height: auto;
    padding: 15% 0 5%;
    //border-radius: 50% / 100%;
    &:before {
      border-radius: 0 40% 50% 0;
    }
    &:after {
      border-radius: 40% 0 0 50%;
    }
    a {
      color: #fff;
      &hover {
        color: #fff;
      }
    }
    .upcoming-events-block-left, .upcoming-events-block-right {
      display: inline-block;
    }
    .upcoming-events-block-left {
      background: #fff;
      color: $brand-primary;
      -webkit-border-radius:100%;
      -moz-border-radius:100%;
      border-radius:100%;
      text-transform: uppercase;
      height: 75px;
      width: 75px;
      padding: .75em;
      margin: .75em;
      font-size: large;
      text-align: center;
    }
    h3 {
      color: #fff;
    }
  }
  #fp-benefits-slider {
    //height:635px;
  }
  #benefits-slider {
    height: 450px;
    .slide-image {
      position: fixed;
      min-width: 100%;
      .img-responsive {
        min-width: 100%;
      }
    }
    .carousel-indicators {
      li {
        background-color: #005a80;
      }
    }
    .carousel-indicators .active {
      background-color: $brand-warning !important;
    }
  }
  #fp-ads-slider {
    height: 500px;
    background: #c4bdb3;
    padding: 50px 0 0;
  }
  .block-icons img {
    height: 42px;
    width: 100%;
    margin: 1em auto;
    display: inline;
  }
  .featured-videos-video {
    .player {
      width: 100%;
      height:auto;
    }
  }
  .benefits-info {
    width: 325px;
    height: 325px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #fff;
    opacity: 0.75;
    margin: 4em auto;
    padding: 4em;
    text-align: center;
    h3 {
      text-transform: uppercase;
      color: $brand-primary;
    }
  }
  #partners-nav {
    height: 800px;
    background: url('../images/gil_bkgd.png');
  }
  .ad-slider-image {
    @media (min-width: 768px) {
      float: right;
      img {
        border-top-left-radius: 100%;
      }
    }
  }
  .ad-slider-logo {
    border-top-right-radius:100%;
    img {
      margin: 0 auto;
    }
  }
  .ad-slider-info {
    float: left;
    width: 450px;
    height: 450px;
    background: #fff;
    padding: 10em 4em;
    border-top-right-radius: 100%;
  }
  .ad-slider-block-left, .ad-slider-block-right {
    padding: 0;
  }
}

