.navbar-nav {
  // Remove background color from open dropdown
  > .open > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      color: $brand-warning;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      > li > a {
        color: $menu-color;
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: transparent;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $menu-color;
          background-color: transparent;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $menu-color;
          background-color: transparent;
        }
      }
    }
  }
}

.gmenu-primary {
  clear: right;
  text-transform: uppercase;
  ul.dropdown-menu {
    text-align: center;
    background-color: $menu-color;

  }
  li {
    font-size:18px;
    color: $menu-color;
  }
  li.active-trail {
    background-color: transparent;
  }
}

.gmenu-secondary {
  text-transform: uppercase;
  li {
    font-size:16px;
    color: $menu-color;
  }
  li .active-trail {
    background-color: transparent;
  }
}
