.page-resources-nomination-forms {
  .page-header {
    &:before {
      content: "";
      display: block;
      background: url("../images/envelope.svg") no-repeat;
      width: 64px;
      height: 64px;
      float: left;
    }
  }
  .views-field-title {
    color: $brand-warning;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: .5em;
    a {
      color: $brand-warning;
    }
  }
  .views-field-body {
    margin-top: 1em;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .views-field-nothing {
    margin-top: 2em;
    .btn {
      //display: table;
      .btn-icon {
        //display: table-cell;
        //backgroun-color: #fff;
        //background: url("../images/member.svg") no-repeat;
      }
      .btn-content {
        //display: table-cell;
      }
    }
  }
}
