# OS
.DS_Store

# Applications & Tools
.idea
bower_components/decouple
bower_components/emitter-es6
config.codekit
node_modules
npm-debug.log

# Project Specific
.libraries
lib
starterkits/*/bootstrap
